.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.productList {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

.product-block {
    height: auto;
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-block:hover {
    transform: scale(1.01);
}

.card-img {
    height: 180px;
    width: auto;
    border-bottom: 1px solid rgb(204, 204, 204);
    padding-bottom: 10px;
    padding-top: 10px;
}

.buy-btn {
    width: fit-content;
    padding: 10px 10px;
    margin-top: 20px;
    margin-bottom: 25px;
    border-radius: 20px;
}

.fav-btn {
    height: fit-content;
    font-size: 20px;
    color: rgb(212, 212, 212);
    background-color: none;
    margin-left: 25px;
    border: 1px solid lightgray;
    border-radius: 25px;
    padding: 5px 10px;
}

.fav-btn:hover {
    color: rgb(48, 92, 212);
    background-color: rgb(218, 233, 247);
    transform: scale(1.06);
}

.fav-btn:focus {
    background-color: rgb(209, 224, 234);
    color:rgb(149, 83, 83)
}

.block-btns {
}

.buy-btn:hover {
    transform: scale(1.01);
}

.card {
    border: 1px solid rgb(201, 201, 201);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 3px 3px 10px grey;
    background-color: rgb(251, 251, 251);
}

.card-body {
    margin: 0;
    padding: 0;
}

.card-title {
    border-top: 1px;
    color:rgb(69, 102, 193);
    margin: 0px 0px 0px 0px;
    padding: 0;
}

.price {
    margin-top: 15px;
    font-size: 25px;
}

br {
    font-size: 10px;
}

.body-home {
    display: flex;
}

.sideBar {
    width: 400px;
    margin-top: 25px;
}

/* ------------------------ */

* {
    box-sizing: border-box;
}

#search {
    outline: none;
    border: none;
    display: inline-block;
   
}

#burgundy {
    color: white
}

#orange,
select,

.btn {
    color: white
}

.fa-search {
    font-size: 20px;
    padding: 10px;
    margin-bottom: 3px;
    padding-right: 20px;
    
}

.search-nav-item {
    height: 40px;
    
}

nav {
    padding: 0px 100px;
}

.fa-user-o,
.fa-shopping-cart {
    font-size: 20px;
    padding: 4px;
}

.form-group {
    margin-bottom: 5px;
}

label {
    padding-left: 10px;
}

.form-group:last-child {
    margin-bottom: 0;
}

h6 {
    margin-bottom: 0px;
}

#sort {
    outline: none;
    border: none;
}

.sign {
    width: 25px;
    height: 25px
}

#search {
    margin-left: 20px;
    
}


.no-product {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
}

.logo {
    height: 50px;
    border: none;
}

button {
    border: none;
    padding: 0;
}

.footer {
    border-top: 1px solid lightgray;
    margin-top: 25px;
    padding-top: 15px;
    display: flex;
    justify-content: space-around;
}

.contacto {

}

.about {
    width: fit-content;
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(202, 202, 202);
    border-radius: 40px;
    padding: 20px;
    margin: 10% 20%;
}
.search-nav-item {
    margin-left: 250px;
    width: 350px;
   
}
.fa-shopping-cart {
        font-size: 20px;
        padding-left: 20px
    }
    .fa-user-o {
        margin-left: 300px
    }

.homeButton{
    border-radius: 15px;
    background-color: #007BFF;
    border: none
}
.nav-item{
    justify-content: flex-end;
}

/* 
@media(min-width:1200px) {
    #search {
        width: 300px;
        padding: 5px;
        padding-left: 20px
    }

    .search-nav-item {
        margin-left: 400px;
        width: 350px
    }

    .fa-user-o {
        margin-left: 300px
    }

    .text {
        display: none
    }

    .fa-user-o,
    .fa-shopping-cart {
        font-size: 20px;
        padding-left: 20px
    }

    #sidebar {
        width: 30%;
        padding: 20px;
        float: left
    }

    #products {
        width: 70%;
        padding: 10px;
        margin: 0;
        float: right
    }

    .card {
        width: 300px;
        height: 330px;
        border: none
    }

    .card-img-top {
        width: 295px;
        height: 200px;
        border-radius: 10px
    }

    del {
        padding-right: 2px
    }

    .filter,
    #mobile-filter {
        display: none
    }
} */
/* 
@media(min-width:992px) and (max-width:1199px) {
    #search {
        width: 300px;
        padding: 5px;
        padding-left: 20px
    }

    .search-nav-item {
        margin-left: 200px;
        width: 350px
    }

    .fa-user-o {
        margin-left: 160px
    }

    .text {
        display: none
    }

    #sidebar {
        width: 30%;
        padding: 20px;
        float: left
    }

    #products {
        width: 70%;
        padding: 10px;
        margin: 0;
        float: right
    }

    .card {
        width: 200px;
        height: 330px;
        border: none
    }

    .card-img-top {
        width: 200px;
        height: 200px;
        border-radius: 10px
    }

    .fa-plus,
    .fa-minus {
        font-size: 12px
    }

    .sign {
        height: 25px
    }

    .price {
        width: 99px
    }

    .filter,
    #mobile-filter {
        display: none
    }
} */

/* @media(min-width:768px) and (max-width:991px) {
    #search {
        width: 300px;
        padding: 5px;
        padding-left: 20px
    }

    .search-nav-item {
        margin-left: 60px;
        width: 350px
    }

    .fa-user-o {
        margin-left: 80px
    }

    .text {
        display: none
    }

    #sidebar {
        width: 35%;
        padding: 20px;
        float: left
    }

    #products {
        width: 65%;
        padding: 10px;
        margin: 0;
        float: right
    }

    .card {
        border: none
    }

    .filter,
    #mobile-filter {
        display: none
    }
} */

/* @media(min-width:576px) and (max-width:767px) {
    .text {
        display: none
    }

    .search-nav-item {
        margin-left: 35px;
        width: 270px
    }

    #search {
        width: 240px;
        padding: 5px;
        padding-left: 20px
    }

    .fa-search {
        padding: 3px;
        font-size: 18px
    }

    #sidebar {
        width: 40%;
        padding: 20px;
        float: left
    } */
/* 
    #products {
        width: 60%;
        padding: 10px;
        margin: 0;
        float: right
    }

    .card {
        border: none
    }

    #off {
        padding-left: 2px
    }

    #sorting span,
    #res {
        font-size: 14px
    }

    .filter,
    #mobile-filter {
        display: none
    } */
/* } */
/* 
@media(max-width:575px) {
    .search-nav-item {
        margin: 0;
        width: 100%;
        margin-top: 10px
    }

    #search {
        width: 80%;
        padding-left: 10px;
        margin-top: 10px;
        padding-right: 10px
    }

    .fa-search {
        padding: 10px;
        font-size: 18px
    }

    #sidebar {
        display: none
    }

    .filter {
        margin-left: 70%;
        margin-top: 2%
    }

    #sorting,
    #res {
        font-size: 12px;
        margin-top: 2%
    } */
/* } */



