.user-card{
    min-height: 10rem;
    background-color: #7295d9;
    border-radius: 10px;
}

.user-card-img{
    height: 100%;
    background-color: antiquewhite;
    border-radius: 10px;
}

.user-card-button{
    height: 2.3rem;
    margin: 0 .5rem;
    border-radius:20px ;
}

.admin-navbar-section-products{
    background-color: #343a40;
    color: antiquewhite;
    min-height: 2rem;
}
.crear-producto-section{
    min-height: 70vh;
    background-color: rgb(117, 178, 189);
}
.crear-producto-form label{
    font-size: .9rem;
    font-weight: 500;
}

.crer-producto-input{
    height: 1.8rem;
    width: 90%;
}

/* .crear-producto-alert{
    position: absolute;
    z-index: 9;
    height: 10rem;
    width: 30rem;
    top: 0;
} */